<div class="pokecard">
    <div class="pokecard__name">
        <span class="pokecard__name__title">{{data().name}}</span>
    </div>
    <div class="pokecard__types">
        <div class="pokecard__types__title">Types:</div>
        @for (type of data().type; track $index) {
          <app-pokecard-type [element]="type" class="pokecard__types__item"></app-pokecard-type>
        }
    </div>
    <div class="pokecard__stats">
        <div class="pokecard__stat">
            <span class="pokecard__stat-name">HP: </span>
            <span class="pokecard__stat-value">{{data().hp}}</span>
        </div>
    </div>

    <app-pokecard-art [data]="data().image"></app-pokecard-art>
    <div class="pokecard__title">Abilities:</div>
    <div class="pokecard__abilities">
        @for (ability of data().attacks; track ability.name) {
        <app-pokecard-ability  [data]="ability"></app-pokecard-ability>
        }
    </div>
    <div class="pokecard__description">
        <p class="pokecard__description--text">{{data().description}}</p>
    </div>
</div>