.abilities {
  margin-top: 3px;

  &__container {
    display: flex;
    flex-direction: row;
    padding-top: 2%;

    &--cost {
      app-pokecard-type {
        width: 0.6rem;
        height: 0.6rem;
        padding-right: 0.2rem;
        &:first-child {
          margin-left: 0.2rem;
        }
      }
      display: flex;
      width: 15%;
    }

    &--item {
      font-size: 7px;
      text-align: left;
      font-weight: bold;
      width: 60%;
      margin-left: 1rem;

      &--description {
        font-size: 6px;
        text-align: left;
        font-weight: normal;
        margin-top: 2px;
      }
    }

    &--damage {
      font-size: 10px;
      text-align: center;
      font-weight: bold;
      width: 25%;
      display: flex;
      justify-content: center;
    }
  }
}
